<% provide(:back, "/admin/posts") %>

<%= form_for @post, url: { action: "create" } do |f| %>
    <%= f.label :title %>: <%= f.text_field :title, style: "width: 500px;" %>
    <br/>

    <%= f.label :subject %>: <%= f.text_field :subject, style: "width: 500px;" %>
    <br/>

    <a>Content:</a><br/>
    <%= f.text_area :content, style: "margin-left: 5px; width: 945px; height: 500px;" %>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <div>
            <%= b.check_box %>
            <%= b.label %>
        </div>
    <% end %>


    <%= f.select(:post_image_id, [["None", 0]] + @post_images.map{ |image| [image.name, image.id] }) %>

    <br/>
    <%= f.submit %><a id="update_text"></a>
<% end %>