<% provide(:back, "/admin/posts") %>

<%= form_for @post, url: { action: "create" } do |f| %>
    <%= f.label :title %>: <%= f.text_field :title, style: "width: 500px;" %>
    <br/>

    <%= f.label :subject %>: <%= f.text_field :subject, style: "width: 500px;" %>
    <br/>

    <a>Content:</a><br/>
    <%= f.text_area :content, style: "margin-left: 5px; width: 945px; height: 500px;" %>

    <br/>
    <%= f.submit %><a id="update_text"></a>
<% end %>